.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightcoral;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(9, 72, 40);
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-logo {
  width: 200px;
}
