/* COLORS:
#a8e6cf */

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightcoral;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(9, 72, 40);
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-logo {
  width: 200px;
}

.welcome-tron {
  background-color: #a8e6cf;
}

.welcome-header {
  padding: 50px 0 200px;
}

.welcome-img {
  width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: "Montserrat Alternates", sans-serif;
}
